:root{
    --bg-1: #13161a;
    --bg-2: #1f2328;
    --bg-3: #373c44;
    --bg-4: #424549;
    --bg-5: #515458;

    --fg-1: #f5f5f5;
    --fg-2: #d4d4d4;
    --fg-3: #b1b1b1;
    --fg-4: #9c9c9c;
    --fg-5: #868686;

    --sc-1: #dfbc2f;
    --sc-2: #5d80ff;
    --sc-sl: #ef4545; 
    --sc-tp: #1ca54e;
}